@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&display=swap');

/* example font */
/* 
    font-family: 'Barlow Condensed', sans-serif;

    font-family: 'Bellefair', serif;
*/
/*************************************************************************
HOME PAGE START OF CSS FILE
**************************************************************************/
html{
    width: 100%;
}
#home{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    /* default settings */
    background-image: url('../home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: none;
    color: #fff;
    font-family: 'Bellefair', serif;
    overflow: hidden;
}
/* font style */
p{
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.bigText{
    font-size: 150px;
    text-transform: uppercase;
}

/* navbar */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    height: 65px;
}

/* logo */
.logo{
padding-left: 1rem;
}
/* hamburger icon */
.hamburger{
    display: none;
}
/* links inside nav */
.nav-menu{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 70px;
    z-index: 1;
    background-color:rgba(11, 13, 23);
}

.align-md-line{
    color: #fff;
    width: 45%;
    z-index: 100;
    margin-left: 1rem;
    position: absolute;
    left: 70px;
}
/* .nav-items{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 70px;
    z-index: 1;
    background-color:rgba(11,13,23, 0.5);
} */

.nav-items a{
    color: #fff;
    font-size: 1.2rem;
    padding-right: 1rem;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.nav-items a:hover{
    color: rgba(255, 255, 255, 0.500);
    transition: all .250s ease-in;

}

.nav-items-active{
    padding-bottom: 20px;
    border-bottom: #fff solid 2px;
}

/* whole page in div */
.home-page-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
/* left half of page for text */
.home-left-half{
    display: flex;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    margin: 3rem auto;
    padding: 2rem;
    align-self: flex-end;
    flex-direction: column;
    text-align: center;
}
/* so you want to text */
.travelText{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
}
/* right half of page on desktop */
.home-right-half{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    padding: 3rem;
    text-align: center;
}

.circle-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 350px;
}

.circle-div:hover{
    transition: all .7s ease-out;
    cursor: pointer;
    box-shadow: 5px 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.explore{
    margin: 0;
    color:rgba(11,13,23);
    text-transform: uppercase;
    font-size: 2rem;
}
/* link to destination page */
.explore a{
    text-decoration: none;
    color: rgba(11,13,23);
    font-weight: 500;
    font-family: 'Bellefair', serif;
    padding:0;
    letter-spacing: 5px;
}
/****************************************************************************
  DESTINATION PAGE START CSS FILE
  ***************************************************************************/
  #destination{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url('../destination/background-destination-desktop.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    color: #fff;
    font-family: 'Bellefair', serif;
}

/* des cc */
.des-cc{
    width: 90vw;
    height: 100vh;
    display: flex;
    margin: auto;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.des-column{
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dest-txt{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
    text-align: left;
}
.img-des{
    width: 75%;
}

.dest-info-50{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
}

.des-link-cc{
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 25vw;
    align-items: center;
    margin: 5rem 0 1rem 0;
    
}

.dest-planet-links{
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-size: 2rem;
    padding: 0 10px 0 10px;
    text-align: left;
    text-decoration: none;
    align-items: center;
}

.dest-planet-links:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.dest-planet-links-active{
    padding-bottom: 5px;
    border-bottom: 2px solid #d0d6f9a1;
}

.planet-info-cc{
    display: flex;
    flex-direction: column;
    width: 500px;
    height:500px;
    margin-top: 2rem;
    padding:0.8rem;
}

.planet-title{
    font-family: 'Bellefair', serif;
    font-size: 5rem;
    letter-spacing: 10px;
}

.planet-txt{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
    letter-spacing: 3px;
}


.ww-line-50{
    color: #fff;
    width: 100%;
}

.des-tt-cc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}
.tt-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
}

.avg-tr-title{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.tt-txt{
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
}

/* *****************************************************************************************
CREW PAGE
********************************************************************************************/
#crew-body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url('../crew/background-crew-desktop.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    color: #fff;
    font-family: 'Bellefair', serif;
    overflow: hidden;
}

.meet-crew{
    font-size: 1.5rem;
    margin-left: 3rem;
    text-transform: uppercase;
}
.numbers{
    color: rgba(160, 160, 160, 0.5);
    padding-left: 2rem;
}

.crew-con{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.crew-info-cc{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    width: 40vw;
}
.crew-title{
    font-size: 3rem;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.crew-name{
    font-size: 2.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase; 
    margin: 1rem;
}
.crew-photo-cc{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.crew-txt{
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 5px;
}

.crew-img{
    width: 60%;
    height: 80%;
}

.circle-cc{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 15%;
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;
}

.crew-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(44, 44, 44);
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
}
li{
    list-style: none;
}
.crew-active{
    background-color: #fff;;
    color: rgb(208, 214, 249);
}
/*******************************************************************************
space caplse page
********************************************************************************/
#tech-bg{
    background-image: url('../technology/background-technology-desktop.jpg');
    background-image: url('../crew/background-crew-desktop.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    color: #fff;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

#tech-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}
.tech_title{
    margin: 0 0 3rem 0;
    padding-left: 3rem;
}
.header-title{
    width: 100%;
    height: 50px;
}
.tech-row-left{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.tech-row-mid{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70vh;
    margin: 3rem auto;
    justify-content: center;
    
}
.tech_term{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;

}
.vehicle{
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
}
.tech-row-right{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-items: flex-end;
    width: 30%;
    height: 70vh;
    margin: 3rem auto;
}

.tech_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:#fff solid 1px;
    margin: 0.7rem;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.tech_link:hover{
    color: #fff;
    
    border:#d0d6f9a1 solid 1px;
}
.tech_link_active{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.521);
    border:#d0d6f9a1 solid 1px;
}
.space-img{
    width: 100%;
    height: 100%;
}



  /****************************************************************************
  MEDIA QUERIES FOR ALL PAGES
  ****************************************************************************/
  
@media screen and (max-width: 428px) {
    html{
        height: 100%;
    }
    /* home page */
    #home{
        background-image: url('../home/background-home-mobile.jpg');
        background-color: black;
        background-attachment: fixed;
        background-position: center;
        background-size:cover;
        height: 100%;
        overflow: hidden;
    }
    /* all pages navbar */
    .hamburger{
        display: flex;
        position: fixed;
        top: 25px;
        left: 350px;
        z-index: 200;
    }
    .nav-menu{
        display: none;
    }

    #hamIcon{
        position: fixed;
    }
    
     .active{
        display: flex;
        flex-direction: column;
        position: fixed;
        /* text-align: right; */
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.650);
        z-index: 100;
        font-size: 1rem;
        animation-name: slideIn;
        animation-duration: 1s;
        border-bottom: none;
        border-radius: 15px;
    }
    .nav-items-active{
        padding: 0;
    }

    @keyframes slideIn{
        from{
            width: 0;
            height: 100vh;
        }
        to{
            width: 50%;
            height: 100vh;
        }
    }
  
    .nav-items{
        display: flex;
        width: 50%;
        position: relative;
        top: 50px;
        right: -70px;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        font-family: 'Bellefair', serif;
    }
    .nav-items a{
        font-size: 1rem;
        padding-top: 2rem;
        border-bottom: none;
    }

    hr{
        display: none;
    }
    /* /navbar */

    .number{display: none;}

    .home-page-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    p{
        font-size: 1.5rem;
        padding: 1.1rem;
    }
    .home-left-half{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .travelText{
        font-size: 1.8rem;
    }
    .bigText{
        font-size: 5rem;
    }
    /* below on media screen */
    .home-right-half{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    /* radius circle */
    .circle-div{
        position: static;
        width: 250px;
        height: 250px;
    }
    /* text of explore */
    .explore{
        font-family: 'Bellefair', serif;
        padding:0;
        letter-spacing: 5px;
    }

    /**********************************************************************
    destination moon page
    **********************************************************************/
    #destination{
        background-image: url('../destination/background-destination-tablet.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size:cover;
        height: 100%;
        scroll-behavior: smooth;
    }
  
    .heading{
      font-family: 'Barlow Condensed', sans-serif;
      color: #fff;
    }

    .des-cc {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        overflow:hidden;
  }

  .dest-txt{
      font-size:1.3rem;
      margin-bottom: 1rem;
      text-align: center;
  }
  .dest-info-50 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.des-link-cc {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.planet-info-cc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-top: 1rem;
    padding: 0;
    align-items: center;
}
.planet-title{
    font-size: 2.3rem;
    
}
.planet-txt{
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0;
    padding: 12px;
    text-align: center;
}

.des-tt-cc{
    margin: 0;
    align-items: none;
}
.tt-txt{
    font-size: 1.5rem;
}
.avg-tr-title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: 0;

}

/* crew mobile page */
#crew-body{
    height: 100%;
}
.crew-con{
  flex-direction: column-reverse;
  height: auto;
}

.crew-info-cc{
    /* flex-direction: column-reverse; */
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}

.crew-title{
    font-size: 1.5rem;
    padding-left: 1rem;
}
.circle-cc{
    width: 100%;
    justify-content: center;
}

.crew-txt{
    margin: 0;
}
.crew-photo-cc{
    width: 100%;
    margin-top: 2rem;
}


#tech-content{
    flex-direction: column-reverse;
    text-align: center;
}

.tech-row-left{
    flex-direction: row;
    width: 100%;
    height: 25%;
    margin:0;
    align-items: flex-start;
}

.tech-row-mid{
    width: 100%;
    margin: 0;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
}

.tech-row-right{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.space-img{
    width: 60%;
    height: 50%;
    text-align: center;
    margin: auto;
}
















}

